.reset-password label{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-start;
}

.reset-password input{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 420px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #363637;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password input::placeholder{
    font-style: normal;
    font-weight: 400;
    color: #939393;
    line-height: normal;
    padding-left: 35px;
}
 
.reset-password .input_grp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 100px;
}

.reset-password p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: -40px 0 40px 0;
}